{% extends 'base.html.twig' %}

{% block title %}Edit SolicitarRecogida{% endblock %}

{% block body %}
    <h1>Edit SolicitarRecogida</h1>

    {{ include('solicitar_recogida/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_solicitar_recogida_index') }}">back to list</a>

    {{ include('solicitar_recogida/_delete_form.html.twig') }}
{% endblock %}
