{% extends 'base.html.twig' %}

<<<<<<< Updated upstream
{% block title %}Nueva Solicitud Recogida{% endblock %}
=======
{% block title %}Nueva Solicitar Recogida{% endblock %}
>>>>>>> Stashed changes

{% block body %}
    <body class="hold-transition register-page">
    <div class="register-box text-center">
        <div class="card" style="width: 435px;">
            <div class="card-body">
<<<<<<< Updated upstream
                <h3>Nueva Solicitud de Recogida</h3>
=======
                <h3>Nueva Solicitar Recogida</h3>
>>>>>>> Stashed changes
                <br>
                {{ include('solicitar_recogida/_form.html.twig') }}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
