{% extends 'base.html.twig' %}

{% block title %}Cuenta Transferencia Bancaria{% endblock %}

{% block body %}
    <body class="hold-transition register-page">
    <div class="register-box text-center">
        <div class="card" style="width: 435px;">
            <div class="card-body">
                <h3>Crear Nueva Transferencia Bancaria</h3>
                <br>
                {{ include('transferencia_bancaria/_form.html.twig') }}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
