{% extends 'base.html.twig' %}

{% block title %}AsignarProductoaUser{% endblock %}

{% block body %}
    <h1>AsignarProductoaUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asignar_productoa_user.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_asignar_productoa_user_index') }}">back to list</a>

    <a href="{{ path('app_asignar_productoa_user_edit', {'id': asignar_productoa_user.id}) }}">edit</a>

    {{ include('asignar_productoa_user/_delete_form.html.twig') }}
{% endblock %}
