{% extends 'base.html.twig' %}

{% block title %}Editar Producto{% endblock %}

{% block body %}
    <body class="hold-transition register-page">
    <div class="register-box text-center">
        <div class="card" style="width: 435px;">
            <div class="card-body">
<<<<<<< Updated upstream
                <h1>Editar Producto</h1>
=======
                <h3>Editar Producto</h3>
>>>>>>> Stashed changes
                <br>
                {{ include('producto/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
