{% extends 'base.html.twig' %}

{% block title %}New VentaServicio{% endblock %}

{% block body %}
    <h1>Create new VentaServicio</h1>

    {{ include('venta_servicio/_form.html.twig') }}

    <a href="{{ path('app_venta_servicio_index') }}">back to list</a>
{% endblock %}
