{% extends 'base.html.twig' %}

{% block title %}Nuevo Servicio{% endblock %}

{% block body %}
    <body class="hold-transition register-page">
    <div class="register-box text-center">
        <div class="card" style="width: 435px;">
            <div class="card-body">
                <h2>Crear Nuevo Servicio</h2>
                <br>
                {{ include('servicio/_form.html.twig') }}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
